.circle-button {
  background-color: rgba(42,42,42,.6);
  border-color: rgba(255,255,255,.5);
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all linear .1s;
}

.circle-button:hover {
  border-color: #FFF; 
}

.circle-button:hover .circle-button__icon {
  color: #FFF; 
}

.circle-button__icon {
  color: rgba(255,255,255,.5);
  transition: all linear .1s;
}