.featured {
  height: 100vh;
  animation: imageAnimation 10s ease-in-out .5s forwards;
}

@keyframes imageAnimation {
  to {
    background-position: 20% center;
  }
}

.featured__vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured__horizontal {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 30%, transparent 70%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 128px;
  padding-top: 64px;
}

.featured__name {
  font-size: 64px;
  font-weight: bold;
}

.featured__info {
  font-size: 18px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.featured__points {
  color: #46d369;
}

.featured__info-header {
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-weight: bold;
}

.featured__buttons {
  display: flex;
  gap: 8px;
}

.featured__description {
  font-size: 18px;
  color: #999;
  max-width: 40%;

  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4;
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

.featured__genres {
  font-size: 18px;
  color: #999;
}

@media (max-width: 768px) {
  .featured {
    height: 90vh;
  }

  .featured__name {
    font-size: 40px;
  }

  .featured__info-header {
    font-size: 16px;
  }

  .featured__description {
    font-size: 14px;
    max-width: 100%;
  }

  .featured__genres {
    font-size: 14px;
  }

  @keyframes imageAnimation {
    to {
      background-position: 48% center;
    }
  }  
}
